<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peppers.mybatisexample.mapper.IfMapper">



<!-- 2 if(判断参数) - 将实体类不为空的属性作为where条件 -->
<select id="getStudentList_if" resultType="com.peppers.mybatisexample.eneity.Entity" >
    SELECT ST.STUDENT_ID,
    ST.STUDENT_NAME,
    ST.STUDENT_SEX,
    ST.STUDENT_BIRTHDAY,
    ST.STUDENT_PHOTO,
    ST.CLASS_ID,
    ST.PLACE_ID
    FROM STUDENT_TBL ST
    WHERE
    <if test="studentName !=null ">
        ST.STUDENT_NAME LIKE CONCAT(CONCAT('%', #{studentName, jdbcType=VARCHAR}),'%')
    </if>
    <if test="studentSex != null and studentSex != '' ">
        AND ST.STUDENT_SEX = #{studentSex, jdbcType=INTEGER}
    </if>
    <if test="studentBirthday != null ">
        AND ST.STUDENT_BIRTHDAY = #{studentBirthday, jdbcType=DATE}
    </if>
    <if test="classId != null and classId!= '' ">
        AND ST.CLASS_ID = #{classId, jdbcType=VARCHAR}
    </if>
    <if test="classEntity != null and classEntity.classId !=null and classEntity.classId !=' ' ">
        AND ST.CLASS_ID = #{classEntity.classId, jdbcType=VARCHAR}
    </if>
    <if test="placeId != null and placeId != '' ">
        AND ST.PLACE_ID = #{placeId, jdbcType=VARCHAR}
    </if>
    <if test="placeEntity != null and placeEntity.placeId != null and placeEntity.placeId != '' ">
        AND ST.PLACE_ID = #{placeEntity.placeId, jdbcType=VARCHAR}
    </if>
    <if test="studentId != null and studentId != '' ">
        AND ST.STUDENT_ID = #{studentId, jdbcType=VARCHAR}
    </if>
</select>

</mapper>