<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peppers.mybatisexample.mapper.SetMapper">



    <!--当update语句中没有使用if标签时，如果有一个参数为null，都会导致错误。
    当在update语句中使用if标签时，如果前面的if没有执行，则或导致逗号多余错误。
    使用set标签可以将动态的配置SET 关键字，和剔除追加到条件末尾的任何不相关的逗号。
    使用if+set标签修改后，如果某项为null则不进行更新，而是保持数据库原值。-->

<!-- 4 if/set(判断参数) - 将实体类不为空的属性更新 -->
<update id="updateStudent_if_set" parameterType="com.peppers.mybatisexample.eneity.Entity">
    UPDATE STUDENT_TBL
    <set>
        <if test="studentName != null and studentName != '' ">
            STUDENT_TBL.STUDENT_NAME = #{studentName},
        </if>
        <if test="studentSex != null and studentSex != '' ">
            STUDENT_TBL.STUDENT_SEX = #{studentSex},
        </if>
        <if test="studentBirthday != null ">
            STUDENT_TBL.STUDENT_BIRTHDAY = #{studentBirthday},
        </if>
        <if test="studentPhoto != null ">
            STUDENT_TBL.STUDENT_PHOTO = #{studentPhoto, javaType=byte[], jdbcType=BLOB, typeHandler=org.apache.ibatis.type.BlobTypeHandler},
        </if>
        <if test="classId != '' ">
            STUDENT_TBL.CLASS_ID = #{classId}
        </if>
        <if test="placeId != '' ">
            STUDENT_TBL.PLACE_ID = #{placeId}
        </if>
    </set>
    WHERE STUDENT_TBL.STUDENT_ID = #{studentId};
</update>