<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.mybatis.core.steptwo.mapper.UserMapper">
    <!-- 映射文件中的<select> 、<insert>元素的id属性值”selectById”、"insert"，
对应UserMapper接口中的selectById方法和insert方法。-->
    <!--我们调用UserMapper接口中的方法，就会执行UserMapper.xml中对应的sql-->
    <select id="selectById" resultType="com.mybatis.core.steptwo.User">
        select * from user where id = #{id}
    </select>
</mapper>
