<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- User 类对应的映射文件 UserMapper.xml -->
<!--映射文件的namespace属性值”org.mybatis.spring.mapper.UserMapper"就是UserMapper接口的全路径-->
<mapper namespace="com.mybatis.core.stepone.UserMapper">
    <select id="GetUserByID" parameterType="int" resultType="User">
            select * from `user` where id = #{id}
    </select>
</mapper>
